<template>
  <v-ons-page>
    <v-ons-toolbar class="home-toolbar">
      <div class="left">
        <v-ons-toolbar-button @click="$store.commit('splitter/toggle')">
          <v-ons-icon icon="ion-navicon, material:md-menu"></v-ons-icon>
        </v-ons-toolbar-button>
      </div>
      <div class="center">{{ msg }}</div>
    </v-ons-toolbar>

    <div class="header">
      <img src="../assets/logo.png">
    </div>

    <v-ons-list-title>Vue.js Essential Links</v-ons-list-title>
    <v-ons-list>
      <v-ons-list-item v-for="item in essentialLinks" @click="goTo(item.link)" :key="item.link">
        <div class="left"><v-ons-icon fixed-width :icon="item.icon"></v-ons-icon></div>
        <div class="center">{{ item.label }}</div>
        <div class="right"><v-ons-icon icon="fa-external-link"></v-ons-icon></div>
      </v-ons-list-item>
    </v-ons-list>

    <v-ons-list-title>  VueJS http api example</v-ons-list-title>
    <v-ons-row>
      <v-ons-col>
        <v-ons-card @click="showPrettyJson()"> First Json Example </v-ons-card>
        <v-ons-card v-if="loadingCircle">
         <v-ons-progress-circular indeterminate></v-ons-progress-circular>
         </v-ons-card>
        <transition name="fade">
        <v-ons-card v-if="showJsonPretty">
    
         <div class="title">
            {{posts.title}}
          </div>
        <div class="content">
          
          <v-ons-list>
            <v-ons-list-header> {{posts.userId }} </v-ons-list-header>
            <v-ons-list-item> {{posts.body }}</v-ons-list-item>
            </v-ons-list>
        </div>
        </v-ons-card>
             </transition>
      </v-ons-col>

      <v-ons-col>
        <v-ons-card @click="showCompleteJsonPretty()"> Complete Json Pretty </v-ons-card>
        <v-ons-card v-if="loadingCompleteCircle2">
          <v-ons-progress-circular indeterminate></v-ons-progress-circular>
        </v-ons-card>
        <transition name="fade">
        <v-ons-card v-if="showCompleteJson">
          <div v-html="postComplete"></div>
           
        </v-ons-card>
       </transition>
      </v-ons-col>

    </v-ons-row>

    <v-ons-list-title>Vue.js Ecosystem</v-ons-list-title>
    <v-ons-row>
      <v-ons-col>
        <v-ons-card @click="goTo('http://router.vuejs.org/')">vue-router</v-ons-card>
      </v-ons-col>
      <v-ons-col>
        <v-ons-card @click="goTo('http://vuex.vuejs.org/')">vuex</v-ons-card>
      </v-ons-col>
    </v-ons-row>
    <v-ons-row>
      <v-ons-col>
        <v-ons-card @click="goTo('http://vue-loader.vuejs.org/')">vue-loader</v-ons-card>
      </v-ons-col>
      <v-ons-col>
        <v-ons-card @click="goTo('https://github.com/vuejs/awesome-vue')">awesome-vue</v-ons-card>
      </v-ons-col>
    </v-ons-row>

  </v-ons-page>
</template>

<script>
import axios from 'axios'
import {default as jsonPrettyHtml} from 'json-pretty-html'

export default {
  name: 'home',
  data () {
    return {
      msg: 'Welcome',
      essentialLinks: [
        {
          label: 'Core Docs',
          link: 'https://vuejs.org',
          icon: 'fa-book'
        },
        {
          label: 'Community Chat',
          link: 'https://chat.vuejs.org',
          icon: 'fa-commenting'
        },
        {
          label: 'Forum',
          link: 'https://forum.vuejs.org',
          icon: 'ion-chatboxes'
        },
        {
          label: 'Twitter',
          link: 'https://twitter.com/vuejs',
          icon: 'fa-twitter'
        },
        {
          label: 'Docs for this template',
          link: 'http://vuejs-templates.github.io/webpack/',
          icon: 'fa-file-text'
        }
      ],
      posts: [],
      postsCompletep: [],
      showJsonPretty: false,
      loadingCircle: false,
      loadingCircle2: false,
      showCompleteJson: false
    }
  },
  methods: {
    goTo (url) {
      window.open(url, '_blank')
    },
    showPrettyJson() {
    
      if(this.showJsonPretty) {
        this.showJsonPretty = false
      } else {      
        this.loadingCircle = true
        axios.get(`http://jsonplaceholder.typicode.com/posts`)
          .then(response => {
            // JSON responses are automatically parsed.
            this.posts = response.data[0]
            this.showJsonPretty = true
            this.loadingCircle = false
        }).catch(e => {
          this.errors.push(e)
        })
      }
    },
    showCompleteJsonPretty() {
      let dimensions = {
        "length": 7.0,
        "width": 12.0,
        "height": 9.5
      }
      if(this.showCompleteJson) {
        this.showCompleteJson = false
      } else {
        this.loadingCircle2 = true
        axios.get(`http://jsonplaceholder.typicode.com/posts`)
          .then(response => {
            // JSON responses are automatically parsed.
            this.postComplete = jsonPrettyHtml(response.data, dimensions)
            this.showCompleteJson = true
            this.loadingCircle2 = false
        }).catch(e => {
          this.errors.push(e)
        })

      }
    }
  }
}
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.header {
  text-align: center;
}

img {
  max-width: 300px;
}

ons-list-title {
  text-transform: none;
}

ons-list-title:not(:first-of-type) {
  margin-top: 30px;
}

ons-card {
  text-align: center;
}

ons-list-item, ons-card {
  cursor: pointer;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>

<style scoped> 

 ons-card >>> .json-pretty {
    padding-left: 30px;
    padding-right: 30px;
    font-family: Menlo, Monaco, "Courier New", monospace;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0;
    background-color: #24282A;
    color: #d4d4d4;
    text-align: left;
    border-top: 1px solid #121516;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}
 ons-card >>> .json-selected {
    background-color: rgba(139, 191, 228, 0.19999999999999996);
}

ons-card >>> .json-string {
    color: #6caedd;
}

ons-card >>> .json-key {
    color: #ec5f67;
}

ons-card >>> .json-boolean {
    color: #99c794;
}

ons-card >>> .json-number {
    color: #99c794;
}
</style>
